.sec1container{

    padding-bottom: 200px;
    width: 1440px;
    height: auto;
}

.sec1img{
    width: 1440px;

}

.sec1icons{
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    gap: 25px;
    left: 100px;
    bottom: 50px;
}

.sec2container{
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    width: 1440px;
    
}

.sec2container h2{
    display: flex;
    padding-top: 60px;
    padding-left: 300px;
justify-content: center;
padding-bottom: 50px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #0B0E66;

}
.sec2logo{
    width: 224px;
    margin-left: 550px;
    padding-top: 20px;
}

.sec2cards{
    display: flex;
    padding-top: 30px;
    justify-content: center;
    gap: 250px   ;
    width: 1440px;
}


.sec2cardtext{
    background-color: #C8EAFF;
    border-radius: 40px 40px 0 0;
    width: 590px;
    height: 150px;
    padding-top: 32px;
    padding-left: 49px;
}

.sec2cardtext h3{
    padding-top: 20px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0B0E66;

}

.sec2cardtext h4{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0B0E66;

}
/* -----------------------------------------sec2----------------------------- */

.sec3container{
    margin-top: 130px;
    /* position: relative; */
    background: url(./images/sec3bgi.png) cover no-repeat;
    padding-bottom: 2000px;
}
.sec3title{
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFDFD;
    /* position: absolute; */
    top: 50px;
    left: 307px;
}

.sec3cards{
    /* зараз попер бот бо ми грід не вчили а як то зробити норм я хз */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 41px   ;
    /* position: absolute; */
    left: 204px;
    top: 143px;
    width: 1440px;
}

.sec3card{
    background-color: #FFFFFFB2;
    padding-left: 30px;
    padding-top: 30px;
    
    height: 240px;
    width: 320px;

}

.sec3card h6{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #0B0E66;
    padding-bottom: 15px;

}
.sec3card p{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000000;


}


/* ------------------------------------------sec3------------------------------------ */
.sec4container{
    width: 1440px;

}
.sec4title{
    padding-top: 60px;
    margin-left: 340px;
    padding-bottom: 70px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    width: 600px;
    color: #0A3853 ;
    
    

}

.sec4main{
    display: flex;
    gap: 50px   ;
    padding-left: 100px;
}
.sec4img{
    padding-left: 100px;
    padding-top: 70px;
}

.sec4texts{
    display: flex;
    flex-direction: column;
}

.sec4text p{
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: justify;
    color: black;

}

.sec4text{
    padding-bottom: 30px;
}


/* ----------------------sec5---------------- */


.sec5container{
    padding-top: 100px;
    /* position: relative; */
}


.sec5text h2{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFDFD;
    /* position: absolute; */
    top: 160px;
    left: 346px;

}

.sec5text p{
    font-family: "Inter", serif;

    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    color: #FFFDFD;
    /* position: absolute; */
    top: 238px;
    left: 319px;

}

.sec5btns{
    display: flex;
    gap: 50px;
    top: 346px;
    /* position: absolute; */
    padding-left: 200px;


}

.sec5inputpib{
    height: 71px;
    width: 363px;
    background-color: #D9D9D9;
    border: none;
    padding-right: 250px;
    padding-top: 24px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #6D6A6A;
    border-radius: 20px;

}

.sec5inputphone{
    height: 71px;
    width: 363px;
    background-color: #D9D9D9;
    border: none;
    padding-left: 40px;
    padding-top: 23px;
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #6D6A6A;
    border-radius: 20px;

}

.sec5btn{
    height: 71px;
    width: 363px;
    background-color: #0B0E66;
    border: 1px solid #26C7EA;
    border-radius: 20px;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #26C7EA;

}
